<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    <h1>Logged in with <span sec:authentication="name"></span></h1>
    <h2>Roles: <span sec:authentication="principal.authorities"></span></h2>
    <form name="f" action="/perform_logout" method="GET">
        <input name="submit" type="submit" value="Log Out" />
    </form>
</body>
</html>