<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
    .wrapper{width:500px;margin-left:auto;margin-right:auto}
    label{padding-left:0 !important}
    </style>
</head>
<<body>
<div class="container">
    <div class="wrapper">
        <div class="border rounded mt-4 p-4 bg-light">
            <h1 class="text-center col-sm-12">Register</h1>
            <form action="/registration" method='POST' name='f' th:object="${user}">

                <div class="form-group mt-4">
                    <label class="mr-3">Already have an account?</label>
                    <a class="link-primary" th:href="@{/login}">Log in</a>
                </div>

                <div class="form-group">
                    <label class="">First name</label>
                    <input class="form-control" th:field="*{firstName}" type='text' name='username' placeholder="First name">
                </div>

                <div class="form-group">
                    <label class="">Last name</label>
                    <input class="form-control" th:field="*{lastName}" type='text' name='username' placeholder="Last name">
                </div>

                <div class="form-group">
                    <label class="">Email</label>
                    <input class="form-control" th:field="*{email}" type='text' name='username' placeholder="Email">
                </div>

                <div class="form-group">
                    <label class="">Password</label>
                    <input class="form-control" th:field="*{password}" type='password' name='password' placeholder="Password" />
                </div>

                <div class="form-group">
                    <label class="">Confirm password</label>
                    <input class="form-control" th:field="*{matchingPassword}" type='password' name='password' placeholder="Password" />
                </div>

                <input  class="btn btn-primary col-sm-12 mt-4" name="submit" type="submit" value="Sign In" />

            </form>
        </div>
    </div>
</div>
</body>
</html>