<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Enabled</title>
    <style type="text/css">
    .wrapper{width:500px;margin-left:auto;margin-right:auto}
    label{padding-left:0 !important}
    </style>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="alert alert-success text-center mt-5">
            <h1 class="">Success</h1>
            <span>Your account has been enabled</span>
            <br>
            <span th:if="${param.token}">Your token is :</span>
            <span th:utext="${param.token}">token</span>
        </div>
        <a th:href="@{/login}" class="btn btn-primary col-sm-12 text-white mt-2">Log In</a>
    </div>
</div>

</body>
</html>